:root{
--accent-color: #2196F3;
}
.active{
  color: var(--accent-color);
}


a {
    color: rgb(0, 0, 0);
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
.webstudio {
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
  }
  .studio {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
  }
/*Do you understand it? -No? me too*/
