:root{
--accent-color: #2196F3;
--background-color: #2F303A;
}
.active{
  color: var(--accent-color);
}


a {
    color: rgb(0, 0, 0);
}
*{
    font-family: Arial, Helvetica, sans-serif;
}

.order-button{
  background-color: var(--accent-color);
}
.first{
  background-color: var(--background-color);
}
.active-ground{
  color: white;
  background-color: var(--accent-color);
}
.activ:hover{
  color: var(--accent-color);
}
.footer-ground{
  background-color: var(--background-color);
}
.footer-mail-tel{
  color: whitesmoke;
}
/*Do you understand it? -No? me too*/
.header-list{
  
}
.webstudio {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-size: xx-large;
  width: 145px;
  height: 31px;
  font-weight: 700;
}
.studio {
  color: black;
  font-family: "Raleway", sans-serif;
  width: 145px;
  height: 31px;
  font-weight: 700;
}
.studo {
  color: whitesmoke;
  font-family: "Raleway", sans-serif;
  width: 145px;
  height: 31px;
  font-weight: 700;
}
.header-list{
  margin-top: 32px;
  margin-bottom: 32px;
}
*{
  list-style: none;
}
.order-button{
  margin-top: 30px;
  margin-bottom: 200px;
}
.first{
  padding-top: 200px;
}