:root{
--accent-color: #2196F3;
--background-color: #2F303A;
}
.active{
  color: var(--accent-color);
}


a {
    color: rgb(0, 0, 0);
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
.webstudio {
    color: var(--accent-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
  }
  .studio {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
  }
  .studo {
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
  }
.order-button{
  background-color: var(--accent-color);
}
.first{
  background-color: var(--background-color);
}
.active-ground{
  color: white;
  background-color: var(--accent-color);
}
.activ:hover{
  color: var(--accent-color);
}
.footer-ground{
  background-color: var(--background-color);
}
.footer-mail-tel{
  color: whitesmoke;
}
/*Do you understand it? -No? me too*/